
<br />

<button class="btn btn-info" style="float: right;" routerLink="/">Go Back</button>
<br />
<br />
<div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">

                <div *ngIf="response.message!='' && response.success" class="alert alert-success">
                            {{
                                response.message
                            }}
                </div>
                  <div class="card">
                      <div class="card-header">
                            <h3 class="emp-title">New Employee</h3>
                      </div>

                      <div class="card-body">
                        <form [formGroup] = "employeeForm" (ngSubmit)="formSubmit()">
                            <div class="form-group">
                                <label>Enter name:</label>
                                <input type="text" formControlName="name" name="name" class="form-control" placeholder="Enter name" />
                                <p style="color: red;" *ngIf="employeeForm.controls.name.status==='INVALID' &&
                                employeeForm.controls.name.touched
                                ">
                                        this field is required
                                </p>
                            </div>
    
                            <div class="form-group">
                                <label>Enter email:</label>
                                <input type="email" formControlName="email" name="email" class="form-control" placeholder="Enter email" />
                                <p style="color: red;" *ngIf="employeeForm.controls.email.status==='INVALID' &&
                                employeeForm.controls.email.touched
                                ">
                                        this field is required
                                </p>
                            </div>
                            <br />
                            <div class="form-group">
                                <button class="btn btn-primary"
                                [disabled] = "
                                employeeForm.status==='INVALID'
                                "
                                type="submit">Submit</button>
                            </div>
                        </form>
                      </div>
                  </div>
        </div>

        <div class="col-md-4">
            
        </div>
</div>